body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Thasadith', sans-serif;
    color: #FFF;
}

#particles-js {
    width: 100%;
    height: 100%;
    background: #FFF;
}

#particles-js h1 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    user-select: none;
}

nav {
    transition: background-color 450ms ease-out;
}

.navcolor {
    background-color: rgb(168, 219, 212);
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.4);
    transition: background-color 450ms ease-out;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
    padding-left: 30%;
}

nav a {
    padding-left: 18%;
    user-select: none;
}

nav img {
    position: absolute;
    width: 10%;
    left: 5%;
}

.navbar-nav {
    right: 5%;
    position: relative;
}

.navbar-light .navbar-nav .nav-link:hover {
    text-shadow: 0px 0px 10px rgba(165, 22, 79, .7);
}

.scroll::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 90%;
    left: 45%;
    border-radius: 0 3px;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 3s scroll infinite ease;
    animation: 3s scroll infinite ease;
    z-index: 900;
}

@keyframes scroll {

    0%,
    100% {
        top: 78%;
    }

    50% {
        top: 83%;
    }
}

.container h1 {
    text-shadow: 6px 2px 8px rgba(0, 0, 0, 0.59);
    padding-bottom: 5%;
}

.container {
    width: 100%;
}

.main {
    background-color: rgb(165, 22, 79);
}

.row {
    padding-top: 25%;
    padding-bottom: 5%;
}

.main p {
    line-height: 1.6rem;
}

.col-sm-4 img {
    width: 50%;
    box-shadow: 6px 10px 14px -2px rgba(0, 0, 0, 0.59);
    border-radius: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.col-sm-8 a {
    background-color: #FFA23B;
    border: none;
    border-radius: 20px;
    transition: .2s ease-in;
    text-decoration: none;
    color: #000;
    padding: 5px;
}

.col-sm-8 a:hover {
    transition: .2s ease-in;
    cursor: pointer;
    background-color: #FFF;
}

#particles-js h1 strong {
    font-weight: inherit;
}

/* Media Queries */
@media screen and (min-width: 400px) {
    .navbar-nav {
        width: 45%;
        right: 0%;
    }

    .col-sm-8 {
        max-width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 540px) {
    nav img {
        width: 4%;
    }

    .scroll::after {
        left: 50%;
    }
}

@media screen and (min-width: 576px) {
    .container {
        padding-bottom: 0;
    }

    .col-sm-4 img {
        width: 100%;
        border-radius: 0;
    }

    .row {
        padding-top: 15%;
    }
}

@media screen and (min-width: 990px) {
    nav a {
        padding-left: 10%;
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 0;
        margin: 2%;
    }

    .row {
        padding-top: 5%;
        padding-bottom: 0;
    }

    .col-sm-4 img {
        width: 70%;
    }

    .col-sm-8 {
        max-width: 550px;
    }
}