/* html {
    scroll-behavior: smooth;
} */

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Thasadith', sans-serif;
    color: #FFF;
    background-color: rgb(165, 22, 79);
}

/* BARRE DE NAVIGATION */

nav {
    transition: background-color 450ms ease-out;
}

.navcolor {
    background-color: rgb(168, 219, 212);
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.4);
    transition: background-color 450ms ease-out;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
}

nav a {
    padding-left: 18%;
    user-select: none;
}

nav img {
    position: absolute;
    width: 10%;
    left: 5%;
}

.navbar-nav {
    right: 5%;
    position: relative;
}

.bg-light {
    background-color: rgb(168, 219, 212) !important;
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.4);
}

.navbar-light .navbar-nav .nav-link {
    padding-left: 30%;
}

.navbar-light .navbar-nav .nav-link:hover {
    text-shadow: 0px 0px 10px rgba(165, 22, 79, .7);
}

.main h1 {
    padding-top: 30%;
    text-shadow: 6px 2px 8px rgba(0, 0, 0, 0.59);
}

.container {
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 300px;
}

.container div {
    width: 435px;
    height: 275px;
    background-color: #FFA23B;
    margin: 0 1%;
    transition: ease-in-out .3s;
}

.container div h1 {
    font-size: 1.7rem;
    padding: 6% 0 10% 0;
    font-family: 'Sue Ellen Francisco', cursive;
}

.container div p {
    padding: 0 5%;
    margin: 2%;
}

@keyframes mvt {
    from {
        transform: rotate(5deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(5deg);
    }
}

.container div svg {
    fill: #FFF;
    width: 20%;
    padding: 0 5%;
    animation: mvt 2s infinite;
}




/* Media Queries */

/*Mobile, Tablet*/
@media screen and (min-width: 400px) {
    .navbar-nav {
        width: 45%;
        right: 0%;
    }

    .main h1 {
        padding-top: 18%;
    }

    .container {
        padding-top: 5%;
    }

    .container div h1 {
        padding-top: 7%;
    }
}

@media screen and (min-width: 540px) {
    nav img {
        width: 4%;
    }

    .main h1 {
        padding-top: 15%;
    }

    .container {
        padding-top: 3%;
    }
}


@media screen and (min-width: 600px) {
    .container {
        flex-wrap: nowrap;
        max-width: 700px;
    }

    .container div:hover {
        background-color: rgb(168, 219, 212);
        color: #000;
    }

    .container div:last-child:hover {
        background: url(../pictures/celine_contact.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        color: #FFF;
    }

    .container div svg:hover {
        fill: #000;
        transform: scale(1.5);
        transition: .3s ease-in-out;
        animation: none;
    }


}

@media screen and (max-width: 600px) {
    .container div:last-child {
        background: url(../pictures/celine.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}




/*PC*/


@media screen and (min-width:775px) {
    .container {
        padding-top: 5%;
    }
}

@media screen and (min-width: 990px) {
    nav a {
        padding-left: 10%;
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 0;
        margin: 2%;
    }

    .main h1 {
        padding-top: 7%;
    }

    .container {
        padding-top: 4%;
    }
}