/* html {
    scroll-behavior: smooth;
} */

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Thasadith', sans-serif;
    background-color: rgb(165, 22, 79);
    color: #FFF;
}

/* BARRE DE NAVIGATION */

nav {
    transition: background-color 450ms ease-out;
}

.bg-light {
    background-color: rgb(168, 219, 212) !important;
    box-shadow: 0px 4px 5px -1px rgba(0, 0, 0, 0.4);
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.2em;
}

nav a {
    padding-left: 18%;
    user-select: none;
}

nav img {
    position: absolute;
    width: 10%;
    left: 5%;
}

.navbar-nav {
    right: 5%;
    position: relative;
}

.navbar-light .navbar-nav .nav-link {
    padding-left: 30%;
}

.navbar-light .navbar-nav .nav-link:hover {
    text-shadow: 0px 0px 10px rgba(165, 22, 79, .7);
}

.btn-secondary {
    color: #000;
    background-color: rgb(255, 188, 112);
    border-color: rgb(255, 180, 95);
}

.btn-secondary:hover {
    background-color: #FFA23B;
    border-color: rgb(255, 175, 84);
}

.btn-secondary:focus,
.btn-secondary.focus {
    box-shadow: 0 0 0 0.1rem rgb(168, 219, 212, 0.5);
}

.container .btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10%;
}

div h1 {
    padding: 25% 0 10% 0;
    font-size: 2rem;
    text-shadow: 6px 2px 8px rgba(0, 0, 0, 0.59);
    margin-bottom: 0;
}

.galerie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.galerie div {
    width: 50%;
    position: relative;
    margin: 0 1%;
}

.galerie div img {
    width: 100%;
    height: 100px;
    filter: grayscale(3);
    transition: ease .2s;
    box-shadow: 6px 10px 14px -2px rgba(0, 0, 0, 0.59);
}

.galerie div img:hover {
    transition: ease .2s;
    filter: none;
}

.galerie div p {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
    font-size: 1rem;
    background-color: #FFA23B;
    user-select: none;
    border-radius: 10px;
    padding: 2%;
    opacity: .9;
    color: #FFF;
    text-decoration: none;
    transition: ease-in-out .3s;
}

.galerie div p:hover {
    font-size: 1.5rem;
    transition: ease-in-out .3s;
    animation: updown ease-in-out 2s infinite;
}

@keyframes updown {

    0%,
    100% {
        top: 50%;
    }

    50% {
        top: 55%;
    }
}

.galerie .btn,
.galerie .btn-primary,
.galerie .btn-primary:focus,
.galerie .btn:hover,
.galerie .btn:focus {
    background-color: transparent;
    border: none;
}

.modal-title,
.modal-body {
    color: #000;
}


.modal-body a {
    color: #8b008b;
    background-color: #FFF;
    border-radius: 15px;
    padding: 8px;
    transition: ease-in .2s;
    text-decoration: none;
}

.modal-body a:hover {
    padding: 14px;
    transition: ease-in .2s;
    background-color: #FFA23B;
}

.modal-content {
    background: linear-gradient(35deg, rgb(214, 187, 236) 50%, #FFF 50%);
    border: 2px solid #000;
    position: relative;

}

iframe {
    position: relative;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 3%;
}

/* Media Queries */

/* MOBILE */
@media screen and (min-width: 400px) {
    .navbar-nav {
        width: 45%;
        right: 0%;
    }

    .galerie {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .galerie div {
        width: 40%;
    }
}


@media screen and (max-width:600px) {
    .galerie div img {
        filter: none;
    }

    .magazine-paysage {
        display: none;
    }
}

@media screen and (min-width: 560px) {
    div h1 {
        padding-top: 15%;
    }

    nav img {
        width: 4%;
    }

    .galerie div {
        width: 30%;
    }
}

/* TABLET */

@media screen and (min-width: 600px) {
    .magazine-portrait {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    #menugroup {
        display: none;
    }

    .galerie div img {
        height: 120px;
    }
}

@media screen and (min-width:800px) {
    div h1 {
        padding-top: 10%;
        padding-bottom: 0;
    }

    .galerie {
        padding-top: 5%;
    }

    .galerie div {
        width: 20%;
    }
}

@media screen and (max-width: 800px) and (orientation: portrait) {

    #menugroup {
        display: initial;
    }

    .galerie {
        max-width: 700px;
    }

    /* .galerie div {
        width: 45%;
    } */
}

/* PC */

@media screen and (min-width: 990px) {
    nav a {
        padding-left: 10%;
    }

    .navbar-light .navbar-nav .nav-link {
        padding: 0;
        margin: 2%;
    }

    .galerie {
        max-width: 1200px;
        margin: 0 auto;
    }

    .galerie div {
        width: 20%;
        padding: 0;
        max-width: 220px;
        margin-top: 2%;
    }
}