.menu_btn {
	background: #f2b33d;
	display: block;
	position: absolute;
	top: 15%;
	right: 5%;
	z-index: 0;
	color: #000;
	padding: 5px;
	text-decoration: none;
	border-radius: 20px;
	box-shadow: 6px 10px 14px -2px rgba(0, 0, 0, 0.59);
}

.menu_btn:hover {
	text-decoration: none;
	color: #000;
}


#menu {
	height: 100%;
	position: fixed;
	background: #f2b33d;
	top: 10%;
	bottom: 30%;
	width: 240px;
	right: -240px;
	z-index: 10;
}

#menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	color: white;
}

#menu ul li {
	height: 47px;
	padding-left: 30px;
	line-height: 47px;
	border-bottom: 1px solid #d39b33;
}

#menu ul li.active {
	background: #fbce52;
}

#menu ul li:hover {
	background: #fbce52;
}

#menu ul li a {
	color: white;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	display: block;
}

.filterDiv {
	display: none;
}

.show {
	display: block;
}

/* MOBILE */

@media screen and (max-width: 700px) {

	.menu_btn,
	#menu {
		display: none;
	}
}


/* TABLET PORTRAIT */
@media screen and (max-width: 800px) and (orientation: portrait) {

	.menu_btn,
	#menu {
		display: none;
	}
}