body {
    background-color: #d5e8d4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Bubbler One', sans-serif;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#accueil {
    height: 100vh;
}

#manav {
    font-size: 2em;
}

.fixed-top {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFF;
    opacity: 0.5;
    padding: 0;
}

.navbar-light {
    background-color: #41BABE;
}

a.nav-item.nav-link {
    margin: 0 2%;
}


a.nav-item.nav-link:nth-last-child(-n+2) {
    margin: 1%;
}

.navbar-light .navbar-nav .nav-link.active {
    background: url('img/ako.svg');
    opacity: 1;
    color: #FFF;
    background-repeat: no-repeat;
    background-position: center;
}

nav a {
    text-transform: uppercase;
}

.navbar-nav img {
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.38);
    border-radius: 100px;
    background-color: #FFF;
    display: none;
}

nav a svg {
    fill: #FFF;
    width: 40px;
}

.navbar-light .navbar-nav .nav-link:nth-last-child(-n+2) {
    background: none;
}

.navbar-light .navbar-nav .nav-link:nth-last-child(-n+2):hover {
    opacity: 1;
}

nav a svg:hover {
    fill: #FFF;
}

/* Accueil*/
.accueil {
    position: absolute;
    top: 5%;
}

.mockup img {
    width: 60%;
    top: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.mockup .mobil {
    width: 25%;
    position: relative;
    z-index: 99;
}

.mockup .horizon {
    position: relative;
    left: 40%;
}

.text {
    padding-top: 35%;
}

.text_accueil {
    font-size: 1.5rem;
}

#accueil h1 strong {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 2rem;
}

.text_rose {
    color: #D73F77;
}

.ballon {
    width: 10%;
    position: relative;
    left: 47%;
    -webkit-transform: translateX(-47%);
    transform: translateX(-47%);
    -webkit-animation: ballon 1s forwards infinite alternate;
    animation: ballon 1s forwards infinite alternate;
}

@-webkit-keyframes ballon {
    from {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    to {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes ballon {
    from {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    to {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

/* EQUIPE */
#equipe {
    height: 100vh;
}

.equipe {
    position: relative;
    top: 56%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.equipe img {
    width: 100%;
    padding-bottom: 10%;
}

.text_equipe {
    font-size: inherit;
}

.equipe .text-center {
    font-size: 1.2rem;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.presentation {
    height: 100%;
    font-size: 1.5rem;
}

.presentation div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 850px;
    margin: 0 auto;
}

.presentation div video {
    margin: 2%;
    border: solid #000 2px;
}

.text_videos {
    font-size: 1.2rem;
    margin: 0 3%;
}

/* PROJET */
#projet {
    height: 100vh;
}

#projet .container {
    position: relative;
    top: 35%;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
}

.text_projet {
    text-transform: uppercase;
    color: #D73F77;
    padding-bottom: 4%;
    padding-top: 30%;
    text-align: center;
    font-size: 2rem;
}

.col-md p {
    font-size: 1.2rem;
    max-width: 350px;
    margin: 0 auto;
    padding-bottom: 5%;
}

#projet strong {
    font-size: inherit;
}

.col-md video {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
}

/* JOUER */
#jouer {
    height: 120vh;
    display: block;
}

#jouer h1 {
    color: #D73F77;
    text-transform: uppercase;
    padding-top: 80px;
}

#jouer p {
    font-size: 1.2rem;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 5%;
}

.store {
    text-align: center;
}

.store p {
    max-width: 250px;
    margin: 0 auto;
    font-size: 1.3rem;
}

.store p strong {
    text-transform: uppercase;
    color: #D73F77;
}

.store a {
    cursor: none;
    pointer-events: none;
}

#jouer img[alt="Google Play"] {
    width: 40%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#jouer img[alt="App Store Apple"] {
    width: 36%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/* COLORIAGES */
#coloriages {
    height: 110vh;
    padding-top: 50px;
    position: relative;
}

#coloriages p {
    font-size: 1.2rem;
    max-width: 90%;
    margin: 0 auto;
}

#coloriages h1 {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #D73F77;
}

#coloriages svg {
    width: 15%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    fill: #D73F77;
    cursor: pointer;
}

.carousel {
    max-width: 100%;
    margin: 0 auto;
    padding: 5% 0;
}

.carousel-control-prev-icon {
    background-image: url("img/fleche.png");
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 40px;
    opacity: 100%;
}

.carousel-control-next-icon {
    background-image: url("img/fleche.png");
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 40px;
    opacity: 100%;
}

.carousel {
    width: 70%;
}

.carousel-item img {
    background-color: #FFF;
}

.carousel-indicators li {
    background-color: #5dbbb1;
}

.carousel-indicators li.active {
    background-color: #D73F77;
}



/* FOOTER */
footer {
    text-align: center;
    background-color: #D73F77;
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 50px;
}

footer p {
    padding-top: 10px;
}

/* QUERIES */
@media screen and (min-width: 365px) {

    .mockup img {
        width: 50%;
        -webkit-transform: translateX(-20%);
        transform: translateX(-20%);
    }

    .mockup .mobil {
        width: 20%;
    }

    .mockup .horizon {
        position: relative;
        left: 25%;
    }

    .text {
        padding-top: 25%;
    }
}



@media screen and (min-width:440px) {
    #projet .container {
        -webkit-transform: none;
        transform: none;
        top: 10%;
    }

    .col-md video {
        width: 70%;
    }

    #coloriages {
        height: 100vh;
    }

    .carousel {
        width: 50%;
    }


    #coloriages svg {
        width: 10%;
    }

    .text_projet {
        padding: 0;
    }

}

@media screen and (min-width:530px) {
    .mockup img {
        width: 40%;
        -webkit-transform: translateX(10%);
        transform: translateX(10%);
    }

    .mockup .mobil {
        width: 15%;
    }

    .equipe .text-center {
        max-width: 400px;
        margin: 0 auto;
    }

    .equipe img {
        width: 80%;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #jouer h1 {
        padding-top: 130px;
    }


    .carousel {
        padding: 10px 0;
    }

    #coloriages svg {
        width: 6%;
    }
}

@media screen and (min-width:576px) {
    .accueil {
        padding-top: 20%;
        max-width: 600px;
        margin: 0 auto;
        height: 100vh;
    }

    .mockup img {
        position: relative;
        top: 20%;
        width: 60%;
        left: 15%;
    }

    .mockup .mobil {
        width: 25%;
    }

    .text {
        top: 50%;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        padding-top: 0;
    }

    .ballon {
        width: 8%;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 70%;
    }

    .equipe img {
        width: 100%;
    }

    .col-md p {
        max-width: 700px;
    }

    .col-md video {
        width: 80%;
    }

    #jouer p {
        padding-bottom: 0;
    }

    #jouer img[alt="Google Play"] {
        width: 17%;
    }

    #jouer img[alt="App Store Apple"] {
        width: 15%;
    }

    #jouer p {
        max-width: 500px;
    }

    #coloriages p {
        max-width: initial;
    }
}

@media screen and (min-width:700px) {
    .accueil {
        padding-top: 10%;
        max-width: none;
        margin: initial;
    }

    .mockup img {
        position: relative;
        top: 20%;
        width: 70%;
        left: 15%;
    }

    .mockup .mobil {
        width: 30%;
        position: absolute;
        left: 60%;
    }

    .mockup .horizon {
        left: 10%;
    }

    .carousel {
        width: 40%;
    }

}

@media screen and (min-width:760px) {
    .text_accueil {
        font-size: 2rem;
    }

    .accueil h1 strong {
        text-transform: uppercase;
        letter-spacing: .2rem;
        font-size: 2.5rem;
    }

    .ballon {
        width: 5%;
    }

    .equipe .text-center {
        font-size: 1.4rem;
        top: 50%;
        position: relative;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #projet {
        padding: 0;
    }

    #projet .container {
        max-width: 800px;
        position: relative;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .text_projet {
        text-align: initial;
    }

    .col-md {
        padding: 0 5%;
    }

    #jouer {
        height: 100vh;
    }

    #jouer .memory {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-45%);
        transform: translateY(-45%);
    }

    #jouer h1 {
        padding-top: 0;
    }

}

@media screen and (min-width:780px) {
    #jouer img[alt="Google Play"] {
        width: 20%;
    }

    #jouer p {
        max-width: initial;
    }

    .carousel {
        width: 30%;
    }

    #coloriages {
        height: 100vh;
    }
}

@media screen and (min-width: 870px) {

    .carousel {
        padding-top: 0;
    }

    #coloriages svg {
        width: 7%;
    }
}

@media screen and (min-width:992px) {
    #manav {
        margin-top: 2%;
        height: 70px;
    }

    .navbar-nav {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .navbar-nav img {
        display: initial;
        position: relative;
        top: -10px;
    }

    .navbar-light {
        padding-top: 2%;
    }

    .navbar-light .navbar-nav .nav-link {
        height: 70px;
    }

    .mockup img {
        position: relative;
        top: 30%;
        width: 50%;
        left: 15%;
    }

    .mockup .mobil {
        width: 20%;
    }

    .mockup .horizon {
        left: 15%;
    }

    .ballon {
        width: 3.5%;
        top: 75%;
    }

    .equipe img {
        width: 80%;
    }

    #jouer h1 {
        padding-top: 40px;
    }

    #jouer img[alt="Google Play"] {
        width: 13%;
    }

    #jouer img[alt="App Store Apple"] {
        width: 11%;
    }

    #coloriages {
        height: 110vh;
        padding-top: 110px;
    }

    #coloriages svg {
        width: 5%;
    }

    .carousel {
        width: 30%;
    }

    .store h2 {
        max-width: initial;
    }
}

@media screen and (min-width:1200px) {
    .ballon {
        width: 3%;
    }

    #projet .container {
        padding: 0;
        margin: 0;
    }

    #coloriages {
        height: 100vh;
        padding-top: 10%;
    }

    .carousel {
        width: 20%;
        padding-bottom: 2%;
    }

    #coloriages svg {
        width: 3%;
    }



}