/*
SI VOUS NE DISPOSEZ PAS D'INTERNET

@font-face {
    font-family: 'Kavivanar';
    src:url('font/Kavivanar-Regular.woff') format('woff'),
        url('font/Kavivanar-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    src:url('font/Roboto-Regular.woff') format('woff'),
        url('font/Roboto-Regular.woff2') format('woff2');
}
*/

body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /*Effet entre les pages sur moz*/
}

nav {
    width: 100%;
    height: 60px;
    background-color: rosybrown;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-orient: center;
    box-pack: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    -webkit-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -6px #000;
    z-index: 999;
}


nav a {
    text-decoration: none;
    color: #FFF;
    padding: 20px 30px;
    font-family: 'Kavivanar', 'Trebuchet MS', sans-serif;
}

header {
    background-image: url(pictures/IMG_7552.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 1000px) {
    h1 {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    nav {
        box-orient: vertical;
        -webkit-box-orient: vertical;
        box-direction: normal;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 60px;
    }

    nav a {
        padding: 3px;
        text-align: center;
    }

    h1 {
        text-align: center;
    }
}

h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Kavivanar', 'Trebuchet MS', sans-serif;
}


.nom {
    font-size: 0.500em;
    margin: 10px;
    text-align: center;
}


/*Liens effet*/

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFF;
    -webkit-transition: width .3s;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    -webkit-transition: width .3s;
    transition: width .3s;
}

.cool-link:focus::after {
    width: 100%;
}

/*Scroll & Up*/

.scroll,
.scroll-b,
up,
up-b,
upqd {
    width: 100%;
}

.scroll::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 89%;
    left: 50%;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 3s scroll infinite ease;
    animation: 3s scroll infinite ease;
}

.scroll-b::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 89%;
    left: 50%;
    border-right: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: 3s scroll infinite ease;
    animation: 3s scroll infinite ease;
}

@-webkit-keyframes scroll {

    0%,
    100% {
        top: 83%;
    }

    50% {
        top: 89%;
    }
}

@keyframes scroll {

    0%,
    100% {
        top: 83%;
    }

    50% {
        top: 89%;
    }
}

.up {
    width: 100%;
}

.up::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 50.25%;
    border-right: 4px solid #000;
    border-bottom: 4px solid #000;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-animation: 3s up infinite ease;
    animation: 3s up infinite ease;
}

.up-b::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 50.25%;
    border-right: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-animation: 3s up infinite ease;
    animation: 3s up infinite ease;
}

@-webkit-keyframes up {

    0%,
    100% {
        top: 13%;
    }

    50% {
        top: 16%;
    }
}

@keyframes up {

    0%,
    100% {
        top: 13%;
    }

    50% {
        top: 16%;
    }
}

p {
    font-family: 'Roboto', sans-serif;
}

p::first-letter {
    font-family: 'Kavivanar', 'Trebuchet MS', sans-serif;
    color: #f02361;
    font-size: 170%;
    font-weight: 700;
}

/*MUSIQUE*/
.music {
    background-image: url(pictures/fleur_flou.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.album {
    position: absolute;
    top: 25%;
    left: 60%;
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-orient: horizontal;
    -webkit-box-orient: horizontal;
    box-direction: normal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.album img {
    padding: 4px;
    width: 130px;
    height: 130px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    /*Filtre Noir et Blanc*/
}

.album img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

@-webkit-keyframes freeze {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

}

@keyframes freeze {

    /*Mouvement image*/
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    75% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

}

.album span:hover {
    /*img à rajouter si on ne veut plus animation + décommenter animation prop*/
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
    -webkit-transition: ease .5s;
    transition: ease .5s;
    /*
    -webkit-animation: none;
            animation: none;
*/
    z-index: 1;
}

.album span img {
    -webkit-animation: freeze .5s infinite;
    animation: freeze .5s infinite;
    -webkit-transition: ease .5s;
    transition: ease .5s;
}

.music h2 {
    margin: 0;
    font-family: 'Kavivanar', 'Trebuchet MS', sans-serif;
    position: relative;
    top: 25%;
    left: 15%;
    width: 400px;
}

.music .titre {
    top: 35%;
    left: 25%;
    font-size: 0.875em;
    /*14px*/
}

.music p {
    position: relative;
    top: 35%;
    left: 18%;
    padding: 20px;
    background-color: rgba(255, 255, 255, .5);
    width: 200px;
    line-height: 20px;
}

@media screen and (max-width:1100px) {
    .album {
        width: 300px;
    }

    .album img {
        width: 90px;
        height: 90px;
    }

    .music h2 {
        font-size: 1em;
    }
}

/*PAYS*/

.pays {
    background-image: url(pictures/gaudi.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.pays h2 {
    margin: 0;
    font-family: 'Kavivanar', 'Trebuchet MS', sans-serif;
    position: relative;
    top: 17%;
    left: 20%;
    width: 400px;
}

.pays .esp {
    margin: 0;
    font-family: 'Kavivanar', 'Trebuchet MS', sans-serif;
    position: relative;
    top: 15%;
    left: 60%;
    width: 200px;
    font-size: 1.875em;
    text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em yellow;
}

.pays p {
    position: relative;
    top: 25%;
    left: 70%;
    background-color: rgba(255, 255, 255, .8);
    width: 300px;
    padding: 20px;
    line-height: 20px;
}

@media screen and (max-width:700px) {
    .pays .esp {
        top: 25%;
    }
}

@media screen and (max-width:1100px) {
    .pays h2 {
        top: 23%;
    }

    .pays p {
        left: 35%;
    }
}

/*FLEUR*/

.fleur {
    background-image: url(pictures/coquelicot.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120%;
    width: 100%;
    height: 100vh;
    position: relative;
}

.fleur h2 {
    font-size: 1.875em;
    color: #FFF;
    margin: 0;
    font-family: 'Kavivanar', 'Trebuchet MS', sans-serif;
    position: relative;
    top: 23%;
    left: 25%;
    width: 400px;

}

.fleur p {
    position: relative;
    top: 30%;
    left: 75%;
    background-color: rgba(255, 255, 255, .5);
    width: 200px;
    padding: 20px;
    line-height: 20px;
}

.fleur .coquelicot {
    margin: 0;
    font-family: 'Kavivanar', 'Trebuchet MS', sans-serif;
    position: relative;
    top: 25%;
    left: 70%;
    width: 200px;
    font-size: 1.875em;
    text-shadow: 1px 1px 2px red, 0 5px 1em red, 0 0 0.9em yellow;
}

@media screen and (max-width:1100px) {
    .fleur p {
        left: 60%;
    }
}

/*ANIMAL*/

.animal {
    background-image: url(pictures/girafe.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.animal h2 {
    font-size: 1.875em;
    margin: 0;
    font-family: 'Kavivanar', 'Trebuchet MS', sans-serif;
    position: relative;
    top: 25%;
    left: 45%;
    width: 400px;
    color: #FFF;

}

.animal p {
    position: relative;
    top: 30%;
    left: 75%;
    background-color: rgba(255, 255, 255, .5);
    width: 200px;
    padding: 20px;
    line-height: 20px;
}

.animal .girafe {
    margin: 0;
    font-family: 'Kavivanar', 'Trebuchet MS', sans-serif;
    position: relative;
    top: 28%;
    left: 70%;
    width: 200px;
    font-size: 1.875em;
    text-shadow: 1px 1px 2px orangered, 3px 9px 25px orangered, 0 1px 1em rgb(13, 231, 24);
}

@media screen and (max-width:1100px) {
    .animal p {
        left: 60%;
    }

    .animal h2 {
        font-size: 1.125em;
    }
}

/*JOUR */

.jour {
    background-image: url(pictures/jour_compress.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.jour h2 {
    color: #FFF;
    margin: 0;
    font-family: 'Kavivanar', 'Trebuchet MS', sans-serif;
    position: relative;
    top: 15%;
    left: 8%;
    width: 450px;

}

.jour p {
    position: relative;
    top: 20%;
    left: 5%;
    background-color: rgba(255, 255, 255, .7);
    width: 200px;
    padding: 20px;
    line-height: 20px;
}

.jour .samedi {
    left: 10%;
    top: 18%;
    width: 300px;
    font-size: 1.625em;
    text-shadow: 1px 1px 1px orangered, 0 0 60px orangered, 0 0 1em rgb(13, 231, 24);
}


.sideleft img {
    position: absolute;
    left: 60%;
    top: 30%;
    width: 15%;
    background-color: rgb(238, 235, 231);
    padding: 10px 10px 40px 10px;
    -webkit-box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    box-shadow: 0 2px 5px rgba(30, 30, 30, 0.25);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.sideleft img:first-child {
    z-index: 1;
}

.sideleft img:nth-child(2) {
    left: 52%;
    top: 30%;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.sideleft img:nth-child(3) {
    left: 68%;
    top: 35%;
    -webkit-transform: rotate(9deg);
    transform: rotate(9deg);
}

.sideleft img:nth-child(4) {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
}

/*Changement de position (écartement images)*/

.sideleft:hover .image:first-child {
    -webkit-transform: rotate(4deg) translateX(-65px) translateY(-20px);
    transform: rotate(4deg) translateX(-65px) translateY(-20px);
}

.sideleft:hover .image:nth-child(2) {
    -webkit-transform: rotate(-5deg) translateX(-120px);
    transform: rotate(-5deg) translateX(-120px);
}

.sideleft:hover .image:nth-child(3) {
    -webkit-transform: rotate(9deg) translateX(170px);
    transform: rotate(9deg) translateX(170px);
}

.sideleft:hover .image:nth-child(4) {
    -webkit-transform: rotate(-10deg) translateX(80px) translateY(100px);
    transform: rotate(-10deg) translateX(80px) translateY(100px);
}

@media screen and (max-width:1100px) {
    .jour h2 {
        font-size: 1.125em;
        top: 20%;
    }

    .jour .samedi {
        top: 20%;
    }
}

@media screen and (max-width:900px) {
    .sideleft:hover .image:first-child {
        -webkit-transform: rotate(4deg) translateX(-55px);
        transform: rotate(4deg) translateX(-55px);
    }

    .sideleft:hover .image:nth-child(2) {
        -webkit-transform: rotate(-5deg) translateX(-90px);
        transform: rotate(-5deg) translateX(-90px);
    }

    .sideleft:hover .image:nth-child(3) {
        -webkit-transform: rotate(9deg) translateX(80px);
        transform: rotate(9deg) translateX(80px);
    }

    .sideleft:hover .image:nth-child(4) {
        -webkit-transform: rotate(-10deg) translateX(30px) translateY(50px);
        transform: rotate(-10deg) translateX(30px) translateY(50px);
    }
}

/*QUALITE ET DEFAUT */

.qd {
    background-image: url(pictures/bibliotheque.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.qd h2 {
    color: #FFF;
    margin: 0;
    font-family: 'Kavivanar', 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    text-align: center;
}

.qd p {
    position: relative;
    top: 22%;
    left: 68%;
    background-color: rgba(255, 255, 255, .8);
    width: 200px;
    padding: 20px;
    line-height: 20px;
}

.upqd {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10%;
    left: 49%;
    border-right: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-animation: 4s up infinite ease;
    animation: 4s up infinite ease;
}

@media screen and (max-width:800px) {
    .qd p {
        left: 33%;
    }
}