@font-face {
    font-family: 'Ananda';
    src: url('font/Ananda Personal Use.ttf') format('ttf'), url('font/Ananda Personal Use.woff') format('woff'), url('font/Ananda\ Personal\ Use.woff2') format('woff2');
}

body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /*Effet entre les pages sur moz*/
}

.menu {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 239, 215);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-orient: center;
    box-pack: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    -webkit-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -6px #000;
    z-index: 100;
}

.menu a {
    text-decoration: none;
    color: #000;
    padding: 20px;
    font-family: 'Hammersmith One', 'Trebuchet MS', sans-serif;
    -webkit-transition: -webkit-transform ease-in-out .5s;
    transition: -webkit-transform ease-in-out .5s;
    transition: transform ease-in-out .5s;
    transition: transform ease-in-out .5s, -webkit-transform ease-in-out .5s;
}

.menu a:hover {
    color: #993366;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: -webkit-transform ease-in-out .5s;
    transition: -webkit-transform ease-in-out .5s;
    transition: transform ease-in-out .5s;
    transition: transform ease-in-out .5s, -webkit-transform ease-in-out .5s;
}

@media screen and (max-width: 900px) {
    .menu {
        box-orient: vertical;
        -webkit-box-orient: vertical;
        box-direction: normal;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100px;
    }
    .menu a {
        padding: 3px;
        text-align: center;
    }
    .logo {
        position: absolute;
        top: 10%;
    }
    h1 {
        text-align: center;
        font-size: 8px;
    }
}

.logo {
    position: fixed;
    z-index: 200;
    margin-top: 10px;
    margin-left: 50px;
    width: 70px;
}

header {
    background-image: url(pictures/organic-tiles.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 3.750em;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Ananda', 'Trebuchet MS', sans-serif;
    color: #993366;
}

.metier {
    font-size: .5em;
    text-align: center;
    font-family: 'Hammersmith One', 'Trebuchet MS', sans-serif;
    padding-top: 10%;
}

/*SCROLL*/

.scrollDown {
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 50px;
}

.scrollDown:before {
    content: '';
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 30px;
    height: 30px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.scrollDown:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -5px;
    width: 2px;
    height: 70px;
    background: #000;
    -webkit-animation: arrow 2s linear infinite;
    animation: arrow 2s linear infinite;
}

@-webkit-keyframes arrow {
    0% {
        -webkit-transform-origin: top;
        transform-origin: top;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
    45% {
        -webkit-transform-origin: top;
        transform-origin: top;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    55% {
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@keyframes arrow {
    0% {
        -webkit-transform-origin: top;
        transform-origin: top;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
    45% {
        -webkit-transform-origin: top;
        transform-origin: top;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    55% {
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

h2 {
    margin: 0;
    font-family: 'Hammersmith One', 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 3.000em;
    padding-top: 13%;
}

/*QUI SUIS JE*/

.perso {
    width: 100%;
    height: 100vh;
}

.perso img {
    width: 15%;
    float: left;
    margin-left: 80px;
    border-radius: 20px;
    -webkit-animation: intensity 2s ease-in-out infinite;
    animation: intensity 2s ease-in-out infinite;
}

@-webkit-keyframes intensity {
    0% {
        box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, .5);
        -moz-box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, .5);
    }
    50% {
        box-shadow: 8px 10px 16px -1px rgba(153, 51, 102, 1);
        -webkit-box-shadow: 8px 10px 16px -1px rgba(153, 51, 102, 1);
        -moz-box-shadow: 8px 10px 16px -1px rgba(153, 51, 102, 1);
    }
    100% {
        box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, .5);
        -moz-box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, .5);
    }
}

@keyframes intensity {
    0% {
        box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, .5);
        -moz-box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, .5);
    }
    50% {
        box-shadow: 8px 10px 16px -1px rgba(153, 51, 102, 1);
        -webkit-box-shadow: 8px 10px 16px -1px rgba(153, 51, 102, 1);
        -moz-box-shadow: 8px 10px 16px -1px rgba(153, 51, 102, 1);
    }
    100% {
        box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, .5);
        -webkit-box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, .5);
        -moz-box-shadow: 8px 10px 16px -1px rgba(0, 0, 0, .5);
    }
}

.perso p {
    font-family: 'Questrial', 'Trebuchet MS', sans-serif;
    width: 60%;
    margin-top: 3%;
    font-size: 1.375em;
    text-indent: 40px;
    display: inline-block;
    margin-left: 100px;
    line-height: 26px;
}

.perso .next {
    margin-top: 4%;
    float: right;
    font-style: italic;
}

.perso span {
    color: #993366;
    font-style: italic;
}

/*PARCOURS*/

.parcours {
    width: 100%;
    height: 100vh;
}

.pulse1 {
    width: 130px;
    height: 130px;
    ;
    background: #ffcccc;
    border-radius: 50%;
    text-align: center;
    font-size: 1.250em;
    font-family: 'Hammersmith One', 'Trebuchet MS', sans-serif;
    -webkit-animation: animate 3s linear infinite;
    animation: animate 3s linear infinite;
    -webkit-transition: -webkit-transform ease-in-out .5s;
    transition: -webkit-transform ease-in-out .5s;
    transition: transform ease-in-out .5s;
    transition: transform ease-in-out .5s, -webkit-transform ease-in-out .5s;
}

.pulse1 p span {
    font-size: 0;
    font-family: 'Questrial', 'Trebuchet MS', sans-serif;
}

.pulse1 p:hover span {
    font-size: 0.5em;
}

.pulse2 {
    width: 130px;
    height: 130px;
    ;
    background: #ffcc66;
    border-radius: 50%;
    text-align: center;
    font-size: 1.250em;
    font-family: 'Hammersmith One', 'Trebuchet MS', sans-serif;
    -webkit-animation: animate2 3s linear infinite;
    animation: animate2 3s linear infinite;
    -webkit-transition: -webkit-transform ease-in-out .5s;
    transition: -webkit-transform ease-in-out .5s;
    transition: transform ease-in-out .5s;
    transition: transform ease-in-out .5s, -webkit-transform ease-in-out .5s;
}

.pulse2 p span {
    font-size: 0;
    font-family: 'Questrial', 'Trebuchet MS', sans-serif;
}

.pulse2 p:hover span {
    font-size: 0.625em;
}

.pulse3 {
    width: 130px;
    height: 130px;
    ;
    background: #993366;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    font-family: 'Hammersmith One', 'Trebuchet MS', sans-serif;
    -webkit-animation: animate3 3s linear infinite;
    animation: animate3 3s linear infinite;
    -webkit-transition: -webkit-transform ease-in-out .5s;
    transition: -webkit-transform ease-in-out .5s;
    transition: transform ease-in-out .5s;
    transition: transform ease-in-out .5s, -webkit-transform ease-in-out .5s;
}

.pulse3 p {
    position: relative;
    top: 10%;
}

.pulse3 p span {
    font-size: 0;
    font-family: 'Questrial', 'Trebuchet MS', sans-serif;
}

.pulse3 p:hover span {
    font-size: 0.625em;
}

@-webkit-keyframes animate {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 204, 204, .7), 0 0 0 0 rgba(255, 204, 204, .7);
        box-shadow: 0 0 0 0 rgba(255, 204, 204, .7), 0 0 0 0 rgba(255, 204, 204, .7);
    }
    40% {
        -webkit-box-shadow: 0 0 0 40px rgba(255, 204, 204, 0), 0 0 0 0 rgba(255, 204, 204, .7);
        box-shadow: 0 0 0 40px rgba(255, 204, 204, 0), 0 0 0 0 rgba(255, 204, 204, .7);
    }
    80% {
        -webkit-box-shadow: 0 0 0 40px rgba(255, 204, 204, 0), 0 0 0 20px rgba(255, 204, 204, 0);
        box-shadow: 0 0 0 40px rgba(255, 204, 204, 0), 0 0 0 20px rgba(255, 204, 204, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 204, 204, 0), 0 0 0 20px rgba(255, 204, 204, 0);
        box-shadow: 0 0 0 0 rgba(255, 204, 204, 0), 0 0 0 20px rgba(255, 204, 204, 0);
    }
}

@keyframes animate {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 204, 204, .7), 0 0 0 0 rgba(255, 204, 204, .7);
        box-shadow: 0 0 0 0 rgba(255, 204, 204, .7), 0 0 0 0 rgba(255, 204, 204, .7);
    }
    40% {
        -webkit-box-shadow: 0 0 0 40px rgba(255, 204, 204, 0), 0 0 0 0 rgba(255, 204, 204, .7);
        box-shadow: 0 0 0 40px rgba(255, 204, 204, 0), 0 0 0 0 rgba(255, 204, 204, .7);
    }
    80% {
        -webkit-box-shadow: 0 0 0 40px rgba(255, 204, 204, 0), 0 0 0 20px rgba(255, 204, 204, 0);
        box-shadow: 0 0 0 40px rgba(255, 204, 204, 0), 0 0 0 20px rgba(255, 204, 204, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 204, 204, 0), 0 0 0 20px rgba(255, 204, 204, 0);
        box-shadow: 0 0 0 0 rgba(255, 204, 204, 0), 0 0 0 20px rgba(255, 204, 204, 0);
    }
}

@-webkit-keyframes animate2 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 204, 102, .7), 0 0 0 0 rgba(255, 204, 102, .7);
        box-shadow: 0 0 0 0 rgba(255, 204, 102, .7), 0 0 0 0 rgba(255, 204, 102, .7);
    }
    40% {
        -webkit-box-shadow: 0 0 0 40px rgba(255, 204, 102, 0), 0 0 0 0 rgba(255, 204, 102, .7);
        box-shadow: 0 0 0 40px rgba(255, 204, 102, 0), 0 0 0 0 rgba(255, 204, 102, .7);
    }
    80% {
        -webkit-box-shadow: 0 0 0 40px rgba(255, 204, 102, 0), 0 0 0 20px rgba(255, 204, 102, 0);
        box-shadow: 0 0 0 40px rgba(255, 204, 102, 0), 0 0 0 20px rgba(255, 204, 102, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 204, 102, 0), 0 0 0 20px rgba(255, 204, 102, 0);
        box-shadow: 0 0 0 0 rgba(255, 204, 102, 0), 0 0 0 20px rgba(255, 204, 102, 0);
    }
}

@keyframes animate2 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 204, 102, .7), 0 0 0 0 rgba(255, 204, 102, .7);
        box-shadow: 0 0 0 0 rgba(255, 204, 102, .7), 0 0 0 0 rgba(255, 204, 102, .7);
    }
    40% {
        -webkit-box-shadow: 0 0 0 40px rgba(255, 204, 102, 0), 0 0 0 0 rgba(255, 204, 102, .7);
        box-shadow: 0 0 0 40px rgba(255, 204, 102, 0), 0 0 0 0 rgba(255, 204, 102, .7);
    }
    80% {
        -webkit-box-shadow: 0 0 0 40px rgba(255, 204, 102, 0), 0 0 0 20px rgba(255, 204, 102, 0);
        box-shadow: 0 0 0 40px rgba(255, 204, 102, 0), 0 0 0 20px rgba(255, 204, 102, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 204, 102, 0), 0 0 0 20px rgba(255, 204, 102, 0);
        box-shadow: 0 0 0 0 rgba(255, 204, 102, 0), 0 0 0 20px rgba(255, 204, 102, 0);
    }
}

@-webkit-keyframes animate3 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(153, 51, 102, .7), 0 0 0 0 rgba(153, 51, 102, .7);
        box-shadow: 0 0 0 0 rgba(153, 51, 102, .7), 0 0 0 0 rgba(153, 51, 102, .7);
    }
    40% {
        -webkit-box-shadow: 0 0 0 40px rgba(153, 51, 102, 0), 0 0 0 0 rgba(153, 51, 102, .7);
        box-shadow: 0 0 0 40px rgba(153, 51, 102, 0), 0 0 0 0 rgba(153, 51, 102, .7);
    }
    80% {
        -webkit-box-shadow: 0 0 0 40px rgba(153, 51, 102, 0), 0 0 0 20px rgba(153, 51, 102, 0);
        box-shadow: 0 0 0 40px rgba(153, 51, 102, 0), 0 0 0 20px rgba(153, 51, 102, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(153, 51, 102, 0), 0 0 0 20px rgba(153, 51, 102, 0);
        box-shadow: 0 0 0 0 rgba(153, 51, 102, 0), 0 0 0 20px rgba(153, 51, 102, 0);
    }
}

@keyframes animate3 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(153, 51, 102, .7), 0 0 0 0 rgba(153, 51, 102, .7);
        box-shadow: 0 0 0 0 rgba(153, 51, 102, .7), 0 0 0 0 rgba(153, 51, 102, .7);
    }
    40% {
        -webkit-box-shadow: 0 0 0 40px rgba(153, 51, 102, 0), 0 0 0 0 rgba(153, 51, 102, .7);
        box-shadow: 0 0 0 40px rgba(153, 51, 102, 0), 0 0 0 0 rgba(153, 51, 102, .7);
    }
    80% {
        -webkit-box-shadow: 0 0 0 40px rgba(153, 51, 102, 0), 0 0 0 20px rgba(153, 51, 102, 0);
        box-shadow: 0 0 0 40px rgba(153, 51, 102, 0), 0 0 0 20px rgba(153, 51, 102, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(153, 51, 102, 0), 0 0 0 20px rgba(153, 51, 102, 0);
        box-shadow: 0 0 0 0 rgba(153, 51, 102, 0), 0 0 0 20px rgba(153, 51, 102, 0);
    }
}

.flexparc {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    top: 15%;
}

.flexparc::after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: "";
    background-color: black;
    height: 1px;
    width: 90%;
    z-index: -10;
}

.pulse1:hover {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: -webkit-transform ease-in-out .4s;
    transition: -webkit-transform ease-in-out .4s;
    transition: transform ease-in-out .4s;
    transition: transform ease-in-out .4s, -webkit-transform ease-in-out .4s;
}

.pulse2:hover {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: -webkit-transform ease-in-out .4s;
    transition: -webkit-transform ease-in-out .4s;
    transition: transform ease-in-out .4s;
    transition: transform ease-in-out .4s, -webkit-transform ease-in-out .4s;
}

.pulse3:hover {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: -webkit-transform ease-in-out .4s;
    transition: -webkit-transform ease-in-out .4s;
    transition: transform ease-in-out .4s;
    transition: transform ease-in-out .4s, -webkit-transform ease-in-out .4s;
}

/*COMPETENCES*/

.competences {
    width: 100%;
    height: 100vh;
}

.competences h2 {
    padding-top: 11%;
}

.competences p {
    font-family: 'Questrial', 'Trebuchet MS', sans-serif;
    text-indent: 40px;
    width: 45%;
    text-align: justify;
    margin-left: 25%;
    line-height: 25px;
}

.flexcompet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 1000px;
    margin: auto;
}

.circle {
    margin-top: 25px;
    width: 70px;
    height: 70px;
    border: #000 solid 2px;
    border-radius: 70px;
}

.circle img {
    margin-left: 15px;
    margin-top: 15px;
    width: 60%;
}

h3 {
    font-family: 'Hammersmith One', 'Trebuchet MS', sans-serif;
    margin-left: 0;
    font-size: 1.125em;
    text-align: center;
}

.circle li {
    line-height: 15px;
    text-indent: -30px;
    padding: 10px;
    font-size: 0;
    list-style: none;
    font-family: 'Questrial', 'Trebuchet MS', sans-serif;
}

.circle:hover {
    height: 70px;
    width: 70px;
    border-radius: 70px;
    border: #993366 solid 4px;
}

.circle:hover li {
    font-size: 1em;
    padding: 5px 40px;
    background-color: #ffcccc;
    width: 20%;
    border-radius: 10px;
}

.circle ul {
    padding: 0;
}

@media screen and (max-width: 800px) {
    .competences h2 {
        padding-top: 20%;
    }
}

/*PASSIONS*/

.passions {
    width: 100%;
    height: 100vh;
}

.passions h2 {
    padding-top: 11%;
}

@media screen and (max-width: 800px) {
    .passions h2 {
        padding-top: 23%;
    }
}

.passions p {
    font-family: 'Questrial', 'Trebuchet MS', sans-serif;
    text-align: center;
}

.flexphotos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    box-pack: center;
    justify-content: center;
    margin-top: 60px;
}

.flexphotos img {
    width: auto;
    height: 160px;
    -webkit-transition: -webkit-transform ease-in-out .5s;
    transition: -webkit-transform ease-in-out .5s;
    transition: transform ease-in-out .5s;
    transition: transform ease-in-out .5s, -webkit-transform ease-in-out .5s;
}

.flexphotos img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: -webkit-transform ease-in-out .5s;
    transition: -webkit-transform ease-in-out .5s;
    transition: transform ease-in-out .5s;
    transition: transform ease-in-out .5s, -webkit-transform ease-in-out .5s;
}

@media screen and (max-width: 1000px) {
    .passions {
        height: 140vh;
    }
    .flexphotos {
        display: flex;
        flex-wrap: wrap;
    }
}

/*CONTACT*/

.contact {
    width: 100%;
    height: 100vh;
}

.logos img {
    position: relative;
    width: 5%;
    margin-top: 100px;
    left: 45%;
}

.logos img:first-child {
    margin-right: 20px;
}

.logos img:hover {
    -webkit-animation: bounce 0.7s ease infinite;
    animation: bounce 0.7s ease infinite;
}

.logos a {
    text-decoration: none;
    color: transparent;
}

@-webkit-keyframes bounce {
    0% {
        top: -10%;
    }
    50% {
        top: 0%;
    }
    100% {
        top: -10%;
    }
}

@keyframes bounce {
    0% {
        top: -10%;
    }
    50% {
        top: 0%;
    }
    100% {
        top: -10%;
    }
}

.logos .pdf {
    margin-top: 30px;
    text-decoration: none;
    color: #000;
    font-family: 'Questrial', 'Trebuchet MS', sans-serif;
    border: 1px solid #993366;
    padding: 20px;
    text-transform: uppercase;
    position: absolute;
    left: 44%;
    -webkit-transition: -webkit-transform ease-in-out .5s;
    transition: -webkit-transform ease-in-out .5s;
    transition: transform ease-in-out .5s;
    transition: transform ease-in-out .5s, -webkit-transform ease-in-out .5s;
}

.logos .pdf:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: -webkit-transform ease-in-out .5s;
    transition: -webkit-transform ease-in-out .5s;
    transition: transform ease-in-out .5s;
    transition: transform ease-in-out .5s, -webkit-transform ease-in-out .5s;
    color: #FFF;
    background-color: #993366;
}

@media screen and (max-width: 1000px) {
    .contact h2 {
        position: relative;
        top: 20%;
    }
}

/*FOOTER*/

.footer {
    background-color: #993366;
    color: #FFF;
    font-family: 'Questrial', 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-pack: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}