body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url('pictures/theatre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    margin-bottom: 2%;
}

.container {
    background-color: rgba(255, 255, 255, .8);
    max-width: 700px;
    margin: 10px auto;
    padding: 5px 0;
}

select {
    border-radius: 10px;
    padding: 1%;
    display: inline;
}

.container strong {
    display: inline;
    text-transform: uppercase;
}

.container .gestion {
    color: #000;
    cursor: pointer;
}

.container .gestion {
    text-decoration: none;
    background-color: rgb(255, 187, 147);
    padding: 3px;
    border-radius: 5px;
}

input {
    margin-top: 2%;
    border-radius: 10px;
    padding: 1%;
    border: solid 1px #000;
    background-color: rgba(198, 253, 146, 0.938);
    margin-bottom: 2%;
}

input[type=submit] {
    background-color: plum;
    cursor: pointer;
}

span {
    border-bottom: 1px blue solid;
}

table {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
    border: 2px #000 solid;
    background-color: rgba(255, 255, 255, .8);
    margin-top: 20px;
}

td {
    border: 2px plum solid;
    width: 30%;
    padding: 2%;
}

#jeu {
    background-color: rgba(255, 110, 110, 0.6);
    max-width: 700px;
    margin: 0 auto;
    padding: 1% 0;
    color: #FFF;
}

fieldset {
    border: salmon solid 1px;
    width: 50%;
    padding: 30px;
    margin: 0 auto;
}

fieldset:last-child {
    margin-top: 20px;
}

button {
    border: solid salmon 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFF;
    cursor: pointer;
    margin: 20px 0;
}

button a {
    text-decoration: none;
    color: #000;
}

select {
    margin-top: 15px;
}

img {
    width: 200px;
    height: auto;
}

.erreur {
    color: red;
    background: rgba(255, 255, 255, .8);
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    header p {
        background: rgba(255, 255, 255, .8);
        padding: 10px;
        border-radius: 30px;
        text-align: center;
        display: inline;
    }
}